a{text-decoration:none;color:#333;}
.fr{float:right!important;}
.fl{float:left!important;}
.c1{color:green!important;}
.c2{color:#C5C5C5!important;}
.clearfix{clear:both;zoom: 1;display: block;}
.line{border: 1px solid #CCCCCC;width:1180px;margin:0 auto;}
.container{width:1180px;margin:20px auto;}
.c_top{height:50px;line-height:50px;font-size:14px;border-bottom:1px solid #F3E8E8;margin-bottom:10px;color:#989898;}
.c_cont li{width:220px;height:200px;float:left;margin-right:20px;margin-bottom: 20px;}
.c_cont li h3{font-size:14px;font-weight:normal;}
.c_cont li .info{margin-top:10px;font-size:13px;}
.c_cont li:nth-child(5n){margin-right:0;}
.c_cont li img{width:100%;height:124px}